<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .formData{
            display: flex;
           flex-wrap: wrap;
           align-items: center;
           justify-content: center;
            
        }
     .formEntry {
        
            border: 1px solid black;
            width: 400px;
            height: 200px;
            align-items: center;
           
            margin: 10px ;
        }
     .nav{
        height: 40px;
        border: 1px solid black;
     }
        
    </style>
</head>
<body>
    <nav class="nav">
        <a href="/">Home</a>
        <a href="/form">Share It</a>
       
    </nav>
    <div class="formData">
        <% data.forEach(item => { %>
            <div class="formEntry">
                <p><strong>Name:</strong> <%= item.name %></p>
                <p><strong>Registration:</strong> <%= item.reg %></p>
                <p><strong>Branch:</strong> <%= item.branch %></p>
                <form method="POST" action="/delete/<%= item._id %>?_method=DELETE">
                    <button name="delete">delete</button>
                </form>
                <form method="POST" action="/like/<%= item._id %>">
                    <button name='like' type="submit">Like</button>
                    <span><%=item.likes%></span>
                </form>
              
            </div>
        <% }); %>
    </div>
</body>
</html>